*
!.gitignore
!README.md

# Git
!.gitconfig

# zsh
!.zshrc

# Config
!.config/

## Helix
!.config/helix/
!.config/helix/config.toml
!.config/helix/languages.toml

## Tmux
!.config/tmux
!.config/tmux/tmux.conf

## dprint
!.config/dprint
!.config/dprint/dprint.json
